@page "/"
@model IndexModel

@{
    ViewData["Title"] = "Manage";
}

@if (!User.Identity!.IsAuthenticated)
{
    <h1>Dependabot Helper</h1>
    <hr />
    <p class="lead">
        Sign in with your GitHub account to manage your Dependabot updates.
    </p>
    <form action="~/sign-in" method="post">
        <button class="btn btn-lg btn-primary m-1" id="sign-in" type="submit">Sign in</button>
    </form>
}
else
{
    <h1>
        Manage
    </h1>

    @foreach (var owner in Model.Owners)
    {
        <h2>@owner.Name</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Repository</th>
                    <th>Pending</th>
                    <th>Failed</th>
                    <th>Successful</th>
                    <th>Approved</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var repository in owner.Repositories)
            {
                <tr>
                    <td>
                        <a href="@repository.HtmlUrl" target="_blank">@repository.Name</a>
                    </td>
                    <td>
                        @repository.Pending.Count
                        <span class="fa-solid fa-spinner text-warning"></span>
                    </td>
                    <td>
                        @repository.Error.Count
                        <span class="fa-solid fa-xmark text-danger"></span>
                    </td>
                    <td>
                        @repository.Success.Count
                        <span class="fa-solid fa-check text-success"></span>
                    </td>
                    <td>
                        @repository.Approved.Count
                        <span class="fa-solid fa-thumbs-up text-primary"></span>
                    </td>
                    <td>
                        <form action="~/" method="post">
                            <input type="hidden" name="Owner" value="@owner.Name" />
                            <input type="hidden" name="Repository" value="@repository.Name" />
                            <button class="btn btn-success btn-merge" type="submit">Merge</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

    @if (Model.RateLimitRemaining.HasValue)
    {
        <div>
            <small>
                GitHub API Limits: @(Model.RateLimitRemaining)/@(Model.RateLimitTotal) resetting @(Model.RateLimitResets)
            </small>
        </div>
    }
}
