@inherits RazorSlice<IReadOnlyList<Owner>>
@implements IUsesLayout<_Layout, LayoutModel>

@{
    var user = HttpContext!.User;
    var login = user.GetUserLogin();
}

<div class="justify-content-center">
    <div class="align-middle">
        <div class="table-responsive">
            <table class="table" id="repository-owner-list" data-id="@(user.GetUserId())">
                <caption class="caption-top">
                    GitHub Organizations you have access to.
                </caption>
                <thead>
                    <tr>
                        <th scope="col" class="col-1"></th>
                        <th scope="col">Owner</th>
                        <th scope="col" class="col-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var owner in Model)
                    {
                        string highlight = owner.Name == login ? "font-weight-bold" : string.Empty;
                        <tr class="owner-item">
                            <td class="align-middle">
                                <img src="@(owner.AvatarUrl)" class="user-profile" alt="@(owner.Name)'s avatar'" aria-hidden="true" />
                            </td>
                            <td class="align-middle owner-name @(highlight)">@(owner.Name)</td>
                            <td>
                                <div>
                                    <button class="btn btn-secondary repo-search" type="button" data-owner="@(owner.Name)" data-bs-toggle="modal" data-bs-target="#repo-search-modal" analytics-event="view_org_repos_modal">
                                        <span class="fa-solid fa-gears" aria-title="Select repositories"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }        
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade"
     id="repo-search-modal"
     role="dialog"
     tabindex="-1"
     aria-labelledby="repo-search-label"
     aria-hidden="true"
     data-bs-backdrop="static"
     data-owner="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="spinner-border table-loader me-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h5 class="modal-title" id="repo-search-label" aria-title="Select repositories to manage Dependabot updates for">
                    Select repositories
                </h5>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close" analytics-event="close_org_repos_modal"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table" id="repository-list">
                        <caption>The repositories that belong to this owner.</caption>
                        <thead>
                            <tr>
                                <th scope="col">Repository</th>
                                <th scope="col" class="col-lg-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="check-template repository-item d-none">
                                <td>
                                    <a href="" target="_blank" class="repo-name" analytics-event="view_org_repo"></a>
                                    <span class="fa-solid fa-lock repo-is-private text-muted d-none" title="Private" aria-label="The repository is private"></span>
                                    <span class="fa-solid fa-code-fork repo-is-fork text-muted d-none" title="Fork" aria-label="The repository is a fork"></span>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input position-static repo-enable" type="checkbox" value="" aria-label="">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="repo-cancel" analytics-event="cancel_org_repos">Close</button>
                <button type="button" class="btn btn-primary" id="repo-save" analytics-event="save_org_repos">
                    Save changes
                    <span class="loader spinner-border spinner-border-sm d-none" role="status">
                        <span class="visually-hidden">Saving...</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

@functions {
    public LayoutModel LayoutModel { get; } = new("Configure");
}
