@inherits RazorSlice<TimeSpan?>
@implements IUsesLayout<_Layout, LayoutModel>

<div id="not-configured" class="alert alert-warning d-none" role="alert">
    <p>
        <strong>You have not configured any repositories</strong>
    </p>
    <p>
        Configure which repositories you wish to manage Dependabot updates for <a href="@(HttpContext!.RouteUrl("~/configure"))" title="Configure repositories to mange.">using this page</a>.
    </p>
</div>
<div id="owner-list" data-refresh-period="@(Model?.TotalMilliseconds)">
    <div class="d-none owner-item owner-template">
        <h2 class="owner-name pl-1"></h2>
        <div class="table-responsive">
            <table class="table">
                <caption class="owner-caption"></caption>
                <thead>
                    <tr class="d-flex">
                        <th scope="col" class="col" aria-label="The name of the repository">Repository</th>
                        <th scope="col" class="col col-3" aria-label="The pull request status checks and approvals">Statuses</th>
                        <th scope="col" class="col col-3 col-md-2">Actions</th>
                    </tr>
                </thead>
                <tbody class="repo-list">
                    <tr class="d-none item-template repo-item">
                        <td class="col">
                            <span class="loader spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <a class="align-middle repo-name" target="_blank" analytics-event="view_pull_requests"></a>
                        </td>
                        <td class="col col-2 col-md-3">
                            <div class="container">
                                <div class="row row-cols-1 row-cols-md-4">
                                    <div class="col status-container" title="The number of pending checks">
                                        <span class="repo-count-pending" aria-label="The number of pending checks">&hellip;</span>
                                        <span class="fa-solid fa-spinner repo-status text-warning" data-count="0" aria-hidden="true"></span>
                                    </div>
                                    <div class="col status-container" title="The number of failed checks">
                                        <span class="repo-count-error loading-count" aria-label="The number of failed checks">&hellip;</span>
                                        <span class="fa-solid fa-xmark repo-status text-danger" data-count="0" aria-hidden="true"></span>
                                    </div>
                                    <div class="col status-container" title="The number of successful checks">
                                        <span class="repo-count-success loading-count" aria-label="The number of successful checks">&hellip;</span>
                                        <span class="fa-solid fa-check repo-status text-success" data-count="0" aria-hidden="true"></span>
                                    </div>
                                    <div class="col status-container" title="The number of approvals">
                                        <span class="repo-count-approved loading-count" aria-label="The number of approvals">&hellip;</span>
                                        <span class="fa-solid fa-thumbs-up repo-status text-primary" data-count="0" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col col-3 col-md-auto container">
                            <div class="row-cols-1 row-cols-md-5">
                                <div class="btn-group">
                                    <button class="btn btn-manage-action btn-secondary repo-refresh my-1" title="Refresh" type="button" disabled analytics-event="refresh_pull_requests">
                                        <span class="fa fa-refresh" aria-label="Refresh the check and approval counts" role="img"></span>
                                        <span class="loader spinner-border spinner-border-sm d-none" role="status">
                                            <span class="visually-hidden">Refreshing...</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-manage-action btn-primary repo-configure disabled my-1" href="#" role="button" target="_blank" title="View the Dependabot configuration" analytics-event="view_repo_configuration">
                                        <span class="fa-solid fa-robot" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-manage-action btn-pr repo-pull-requests my-1" title="View pull requests" type="button" data-bs-toggle="modal" data-bs-target="#pr-modal" disabled analytics-event="view_pull_requests_modal">
                                        <span class="fa-solid fa-code-pull-request" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="btn-group btn-manage-action">
                                    <button class="btn btn-success btn-merge repo-merge ml-1 my-1" title="Attempt to merge all mergeable pull requests" type="button" disabled analytics-event="merge_pull_requests">
                                        <span class="fa-solid fa-code-merge" aria-hidden="true"></span>
                                        <span class="loader spinner-border spinner-border-sm d-none" role="status">
                                            <span class="visually-hidden">Merging...</span>
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-merge dropdown-toggle dropdown-toggle-split my-1 mr-1 repo-merge-methods-button" data-bs-toggle="dropdown" aria-expanded="false" disabled analytics-event="merge_methods">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu repo-merge-methods">
                                        <li><button class="dropdown-item merge-method merge-method-merge d-none" value="@(nameof(Octokit.PullRequestMergeMethod.Merge))">Create a merge commit</button></li>
                                        <li><button class="dropdown-item merge-method merge-method-squash d-none" value="@(nameof(Octokit.PullRequestMergeMethod.Squash))">Squash and merge</button></li>
                                        <li><button class="dropdown-item merge-method merge-method-rebase d-none" value="@(nameof(Octokit.PullRequestMergeMethod.Rebase))">Rebase and merge</button></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade"
     id="pr-modal"
     role="dialog"
     tabindex="-1"
     aria-labelledby="pr-label"
     aria-hidden="true"
     data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pr-label">Dependabot pull requests for <span class="pr-repo"></span></h5>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close" analytics-event="close_pull_requests_modal"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <caption>Open Dependabot pull requests for <span class="pr-repo"></span>.</caption>
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th class="col-lg-2" scope="col">Status</th>
                                <th class="col-lg-3" scope="col">Approved?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pr-template d-none">
                                <td>
                                    <span class="fa-solid fa-code-merge text-github-open" aria-hidden="true"></span>
                                    <a href="" target="_blank" class="pr-title" title="View this pull request in GitHub" analytics-event="view_pull_request">Title</a>
                                </td>
                                <td class="text-center">
                                    <span class="fa-solid fa-xmark text-danger pr-status-error d-none" data-count="0" aria-label="Error" title="Error"></span>
                                    <span class="fa-solid fa-spinner text-warning pr-status-pending d-none" data-count="0" aria-label="Pending" title="Pending"></span>
                                    <span class="fa-solid fa-check text-success pr-status-success d-none" data-count="0" aria-label="Success" title="Success"></span>
                                    <span class="fa-stack pr-status-conflict d-none" data-count="0" aria-label="Merge conflicts" title="Merge conflicts">
                                        <span class="fa-solid fa-code-merge fa-stack-1x text-muted"></span>
                                        <span class="fa-solid fa-ban fa-stack-2x text-danger"></span>
                                    </span>
                                </td>
                                <td class="text-center mt-3 mt-lg-1">
                                    <span>
                                        <span class="fa-solid fa-xmark text-danger pr-status-error d-none" data-count="0" aria-label="Error" title="Error"></span>
                                        <span class="fa-solid fa-spinner text-warning pr-status-pending d-none" data-count="0" aria-label="Pending" title="Pending"></span>
                                        <span class="fa-solid fa-check text-success pr-status-success d-none" data-count="0" aria-label="Success" title="Success"></span>
                                        <span class="fa-stack pr-status-conflict d-none" data-count="0" aria-label="Merge conflicts" title="Merge conflicts">
                                            <span class="fa-solid fa-code-merge fa-stack-1x text-muted"></span>
                                            <span class="fa-solid fa-ban fa-stack-2x text-danger"></span>
                                        </span>
                                    </span>
                                    <span>
                                        <span class="fa-solid fa-thumbs-up text-primary pr-is-approved d-none" aria-label="Approved" title="Approved"></span>
                                        <span class="fa-solid fa-thumbs-up text-secondary pr-approval-pending d-none" aria-label="Pending further approvals from others" title="Pending further approvals from others"></span>
                                        <button class="btn btn-success btn-approve pr-approve d-none" type="button" aria-label="Approve this pull request" analytics-event="approve_pull_request">
                                            <span>Approve</span>
                                            <span class="fa-solid fa-check d-none d-md-inline-block" aria-hidden="true"></span>
                                            <span class="loader spinner-border spinner-border-sm d-none" role="status">
                                                <span class="visually-hidden">Approving...</span>
                                            </span>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@functions {
    public LayoutModel LayoutModel { get; } = new("Manage");
}
